{% extends 'base.html' %}

{% block title %}Проект {{ product.name }}{% endblock %}

{% block menu %}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'product_review_create' product.pk %}">Добавить отзыв</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ product.name}}</h1>
    <p><b>Категория:</b> {{ product.category }}</p>
    <p><b>Описание:</b> {{ product.description }}</p>
    {% if product.product.image %}
        <p><b>Фото товара:<img src="{{ product.image.url }}" width="250" height="250" alt="product picture"></b></p>
{#    {% else %}#}
{#        <p>{{ <img src="{{ article.img.url }}"> }}</p>#}
    {% endif %}

            <h3>Отзывы:</h3>

        {% for review in reviews %}
               <h4>{{ review.author }}</h4>
                <div class="pre">{{ review.review }}</div>
                <p>Оценка:{{ review.rate }}</p>
            {% if request.user.is_authenticated %}
                    {% if perms.webapp.update_review and request.user in product.review.user.all %}<p><a href="{% url 'review_update' review.pk %}">Изменить</a>{% endif %}  {% if perms.webapp.delete_review and request.user in product.review.user.all %}<a href="{% url 'review_delete' review.pk %}">Удалить</a>{% endif %}</p>
            {% endif %}
                <hr>
        {% empty %}
            <p>Нет отзывов</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}